/* Universal styles */

* {
    box-sizing: border-box;
}


/* Font Styles */

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

/* Container Styling */

.container {
    padding-left: 1em;
    padding-right: 1em;
}

/* Main-Header Styling */

.main-header {
    text-align: center;
}

/* Main-Nav Styling */

.main-nav ul {
    padding-inline-start: 0;
}

.main-nav {
    text-align: center;
    margin: 0 auto;
}

.main-nav li {
    padding: 15px 0px;
    margin-bottom: 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

#full-nav {
    display: none;
}

/* Link Styling */

a:hover {
    color: rgb(221, 108, 255);
    transition-duration: 0.2s;
    
}

/* Figure and Profile-Image Styling */

#student-profile {
    text-align: center;
    clear: both;
}

.profile-image {
    
    width: 367px;
    display: block;
    margin: 40px auto 40px;
}

.profile-paragraph {
    margin: 0 auto;
    text-align: left;
}

/* Portfolio Section Styling */

.portfolio-heading {
    margin-bottom: 2em;
}

.portfolio {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 5em;
    
}

.project p {
    min-height: 100px;
}

.project-icon {
    display: block;
    width: 85%;
    margin: 0 auto;
    box-shadow: 4px 4px 10px rgb(175, 175, 175);
}

.portfolio p {
    width: 80%;
    margin: 5px auto 10px auto;
}


/* Skills Styling Section */

#skills {
    text-align: center;
    border: 2px solid black;
    box-shadow: 8px 8px 10px rgb(175, 175, 175);
}

.skills-icon {
    width: 100px;
    margin: 0 auto;
}

.skill-title {
    margin: 0 auto 40px;
}


/* Contact Styling Section */

#contact {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
    margin-top: 75px;
}


/* Footer Styling Section */



footer {
    width: 100%;    
    clear: both;
}

.footer-name {
    float: left;
}

.back-to-top {
   
   float: right;
}

.footer-nav {
    display: none;
}


/* Media Queries */


@media (min-width: 768px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .main-header {
        width: 100%;
    } 
    
    .main-heading {
        padding-bottom: 20px;
    }

    .main-nav {
        margin-top: 20px;
    }

    .main-nav li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px;
        background: white;
    }

    #mobile-nav {
        display: none;
    }

    #full-nav {
        display: inline;
    }

    .profile-image {
        float: right;
        padding-left: 10px;
        width: 50%;
        max-width: 500px;
        padding-right: 10%;
        
    }

    .profile-paragraph {
       width: 50%;
       float: left;
       padding-right: 10px;
       margin-top: 10%;
       text-align: left;
    }

    .project {
        width: 50%;
        float: left;
    }
    .project p {
        width: 80%;
        margin: 5px auto 30px auto;
    }

    .back-to-top {
        display: none;
    }

    #skills {
        width: 80%;
        margin: 0 auto;
    }

    .skill-wrapper {
        float: left;
        width: 33%;
        margin-top: 25px;
    }
    

    .footer-nav {
        display: inline-block;
        float: right;
    }

    .footer-nav ul li {
       display: inline;
       margin-right: 25px;
    }

    .footer-name {
        display: inline;
        margin-top: 10px;
    }
}


 @media (min-width: 1024px) {

    .container {
        margin: 0 auto;
        padding: 0;
        max-width: none;
    }

    .main-nav {
        float: right;
        margin-top: 35px;
    }

    .main-heading {
        float: left;
    }

    .project {
        width: 33%;
        float: left;
        margin-top: 10px;
    }

    .profile-paragraph {
        width: 40%;
        margin-left: 10%;
    }
    
    #skills {
        max-width: 60%;
        margin: 0 auto;
    }
} 


/* Clearfix */
 
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}